body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background-color: blanchedalmond;
  width: 240px;
  padding: 15px 15px 5px 15px;
  border-radius: 8px;
  box-shadow: 1px 2px 5px grey;
}

.display {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 240px;
  min-height: 60px;
  overflow: auto;
  font-size: 26px;
  background-color: white;
  margin-bottom: 10px;
  padding: 2px;
  box-shadow: 0px 2px 5px gray inset;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 6px;
}

%top-row {
  height: 20px;
  font-size: 18px;
  position: relative;
  top: 5px;
}

.key {
  background: darkgray;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
  padding: 4px;
  text-align: center;
  border-radius: 6px 6px 10px 10px;
  box-shadow: 3px 3px 10px grey inset;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &.clear {
    background-color: darkred;
    font-size: 20px;
  }

  &.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5;
    grid-row: 5 / span 2;
  }

  &.sqrt {
    grid-column: 4;
    @extend %top-row;
  }

  &.off {
    grid-column: 5;
    @extend %top-row;
  }

  &:active {
    transform: translateY(1px) scaleY(0.97);
  }
}

.display-top {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;
  grid-row: 1;
}

.display-bottom {
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / -1;
  grid-row: 2;
}

#power-on {
  font-size: 10px;
  position: relative;
  left: 15px;
  bottom: 2px;
}
